<div class="header">
	
<!-- 	desktop header -->
<!--   	<ul class="nav nav-pills pull-right hidden-xs hidden-sm"> -->
  	<ul class="nav nav-pills nav-justified visible-xs visible-sm">
		<li class="{{ page.about }}"><a href="/" title="About Caleb Lucas">About</a></li>
		<li class="{{ page.research }}"><a href="/research" title="Research">Research</a></li>
		<li class="{{ page.software }}"><a href="/software" title="Software">Software</a></li>
		<li class="{{ page.cv }}"><a href="/files/caleb_lucas_cv.pdf" target="_blank" title="CV">CV</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>

	<ul class="nav nav-pills pull-right hidden-xs hidden-sm">
		<li class="{{ page.about }}"><a href="/" title="About Caleb Lucas">About</a></li>
		<li class="{{ page.research }}"><a href="/research" title="Research">Research</a></li>
		<li class="{{ page.software }}"><a href="/software" title="Software">Software</a></li>
		<li class="{{ page.cv }}"><a href="/files/caleb_lucas_cv.pdf" target="_blank" title="CV">CV</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	
<!-- 	mobile dropdown header -->
<!-- 	<div class="dropdown visible-xs visible-sm pull-right">
	  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><big>MENU</big>
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/"><big>About</big></a></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/files/caleb_lucas_cv.pdf"><big>CV</big></a></li>
            <li><a data-toggle="collapse" data-target=".navbar-collapse" href="/contact"><big>Contact</big></a></li>
          </ul>
	</div> -->
	
<!-- 	display my name as hyperlink to home -->
  	<div class="hidden-xs hidden-sm">
	<h3><a href="/">Caleb Lucas</a></h3>
	</div>
	
</div> <!-- /header -->
	
